//case1
.container1{
    font-size: 0;
    li{
        display: inline-block;
        list-style: none;
        font-size: 18px;
        padding: 18px 30px;
        background-color: #389dc1;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        transition: background-color 0.5s ease;
        &.active{
            background-color: #e35885;
        }
    }
    h1{
        font-size: 20px;

    }
}
.container2{
    .text{
        cursor: pointer;
        display: inline-block;
    }
    input{

    }
}
.container3{
    li{
        padding: 20px 30px;
        background-color: #e35885;
        margin-bottom: 8px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        cursor: pointer;
        list-style: none;
        color: #fff;
        span{
            float: right;
        }
        &.active{
            background-color: #8ec16d;
        }
    }
}
.container4{
    li{
        border-bottom: 1px solid #ddd;
        padding: 10px;
        overflow: hidden;
    }
}
